extends ../views/templates/basicTemplate.pug

block style
    link(rel="stylesheet", href="/css/index.css")
    link(rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="")

block main
    aside.left-container
        .search-bar
            input#place-search-input(type="text" placeholder="Find Location")
            button.fa.fa-search
        #places-container.places-container
        button#reset-search-btn.reset-search-btn Reset Search
            
    #map-template
    aside.right-container
        button#btn-blue.marker.blue(data_id="Mini Market")
        button#btn-red.marker.red(data_id="Super Market")
        button#btn-purple.marker.purple(data_id="purple")
        button#btn-yellow.marker.yellow(data_id="Bakery")
        button#btn-green.marker.green(data_id="Market Stall")
        button#btn-delete.btn-delete Delete Marker

    #absolute-ctn.absolute-ctn
        #container-div.ctn-div.fade
            img.img(src="/img/pin-red-x.png" alt="pin")
            .div-input
                input#abs-input(type="text" placeholder=`Ingresar nombre de la ubicacion`) 
                button.fa.fa-search
            button#cross-btn.fa.fa-times


    script(script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin="")
    script(src="/scripts/indx.js")