.blue {
  background-image: url(../img/pin-blue-x.png); }

.red {
  background-image: url(../img/pin-red-x.png); }

.purple {
  background-image: url(../img/pin-purple-x.png); }

.yellow {
  background-image: url(../img/pin-yellow-x.png); }

.green {
  background-image: url(../img/pin-green-x.png); }

.skin {
  background-image: url(../img/pin-skin-x.png); }

.white {
  background-image: url(../img/pin-white-x.png); }
